@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;

  color: red;
}

@mixin border__light {
  border: 2px solid #fff;
  border-radius: 20px;
  box-shadow: -3px 3px 10px #fff;
  // background-color: rgba(149, 177, 220, 0.5);
  color: #fff;
}