@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;

  color: red;
}

@mixin border__light {
  border: 2px solid #fff;
  border-radius: 20px;
  box-shadow: -3px 5px 20px rgba(109, 107, 109, 0.667);
  // background-color: rgba(149, 177, 220, 0.5);
  color: #fff;
}

@mixin border__dark {
  width: calc(100% - 10px);

  border: 1px solid #bababa;
  border-radius: 20px;
  box-shadow: -3px 3px 10px rgba(155, 153, 155, 0.667);
  // background-color: rgba(149, 177, 220, 0.5);
  // color: #000;
}

@mixin publications {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 20px 0;

  width: 100px;
  height: 300px;
  min-width: 320px;
  max-width: 500px;

  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: -3px 5px 20px rgba(109, 107, 109, 0.667);
}

@mixin bottoms {
  padding: 10px;
  margin: 5px 0;

  width: 150px;
  height: 40px;

  transition: 0.3s ease-out all;

  color: #fff;

  text-align: center;
  text-decoration: none;

  background-color: rgb(54, 54, 252);
  border: 1px solid #fff;
  border-radius: 15px;

  &:hover {
    transition: 0.3s ease-out all;
    transform: scale(0.95);
  }
}
