$primary-dark: #002159;
$primary-darker: #01337D;
$primary-medium-dark: #03449E;
$primary-medium: #0552B5;
$primary: #0967D2;
$primary-light: #2186EB;
$primary-lighter: #47A3F3;
$primary-very-light: #7CC4FA;
$primary-ultra-light: #BAE3FF;
$primary-pale: #E6F6FF;