$primary-dark: #002159;
$primary-darker: #01337d;
$primary-medium-dark: #03449e;
$primary-medium: #0552b5;
$primary: #0967d2;
$primary-light: #2186eb;
$primary-lighter: #47a3f3;
$primary-very-light: #7cc4fa;
$primary-ultra-light: #bae3ff;
$primary-pale: #e6f6ff;
$white: #ffffff;
