@import "./mixins";
/* components/AsideItem.module.css */
.aside-item {
  @include border__dark;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;

  padding: 20px;
  margin: 10px 10px 10px;

  border: 1px solid #baba;
  background-color: #f9f9f9;

  width: 100%;
  min-width: 250px;
  max-width: 500px;

  height: 350px;

  & p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
}

.aside-item h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.aside-item ul {
  list-style: none;
  padding-left: 0;

  & li {
    text-align: center;
    & a {
      @include border__dark;

      padding: 10px 20px;

      transition: 0.3s ease-in all;

      text-decoration: none;
      background-color: #fff;

      &:hover {
        background-color: #000;
        color: #fff;
        transform: scale(0.2);
      }
    }
  }
}

.aside-item li {
  margin-bottom: 8px;
}

.aside-image {
  // margin-bottom: 16px;

  width: 200px;
  height: 200px;
}

@media screen and (min-width: 1024px) {
  .aside-item {
  }
}
