@import "./variables.scss";
@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* styles to presentation of start page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  // margin: 0 5px;

  width: 100%;
  min-width: 320px;
  max-width: 1024px;

  // border: 2px solid #000;
  background-color: #fff;

  & .presentation {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-width: 320px;
    max-width: 750px;
    margin-top: 25px;
  }

  & .tratamientos {
    @include border__light;
    width: 100%;
    min-width: 300px;
    max-width: 400px;

    margin: 20px 0;

    & h3 {
      font-size: 1.5rem;
      text-decoration: dotted;
      margin: 10px 0;
    }

    & .procedimientos {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      // width: 200px;

      background-color: rgba($primary-color, 0.9);
      border: 1px solid #fff;
      border-radius: 20px;
      box-shadow: 3px 3px 10px #fff;
    }
  }

  & .citas {
    // @include border__dark;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
    margin: 0 auto 50px;
    width: 100%;
  }

  & .aside {
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow-x: auto;

    margin: 20px 50px 0;

    width: 100%;
    min-width: 300px;
    max-width: 700px;

    & h1 {
      margin: 0 auto;
      padding: 3px 10px;

      width: max-content;
      text-align: center;

      background-color: rgba(8, 102, 254, 1);
      color: #fff;
      border-radius: 5px;
    }

    & aside {
      display: flex;
      // flex-direction: column;
      overflow-x: auto;

      color: #000;
    }
  }

  & .instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;

    overflow-x: auto;

    margin: 20px 50px 0;

    width: 100%;
    min-width: 300px;
    max-width: 700px;

    & h1 {
      margin: 0 auto;
      padding: 3px 10px;

      width: max-content;
      text-align: center;

      background-color: rgba(8, 102, 254, 1);
      background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%
      );
      color: #fff;
      border-radius: 5px;
    }

    & aside {
      display: flex;
      overflow-x: auto;
    }
  }

  & .horario {
    @include center;
  }

  & .notices {
    // @include publications;
    // display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    // display: flex;

    & .presentation {
      width: 700px;
    }

    & .aside {
      // display: flex;
      // flex-direction: row;

      // width: 300px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    @include border__light;
    // filter: blur(5px);
    position: relative;
    display: grid;
    // align-items: center;
    // justify-self: center;
    justify-self: center;
    align-items: center;

    grid-template-columns: 60% 20%;
    grid-template-rows: 1fr;

    grid-template-areas:
      "presentation presentation"
      "procedimientos notices"
      "facebook notices"
      "instagram notices"
      "cirugias notices"
      "citas citas";
    gap: 0 5px;

    // width: 100dvw;
    width: 100%;
    max-width: none;

    border: none;
    border-radius: 0%;

    & .presentation {
      // grid-column-start: 1;
      // grid-column-end: 3;
      // grid-area: presentation;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: 30px;
      margin-bottom: 50px;
    }

    & .tratamientos {
      // position: absolute;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;

      grid-area: procedimientos;

      margin: 0 auto;
      padding: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      // width: calc(100% - 120px);
      width: 100vw;

      background-color: transparent;
      border: none;
      box-shadow: none;

      & .procedimientos {
        grid-area: procedimientos;

        width: 100%;
        min-width: inherit;
        max-width: 500px;
      }
    }

    & .citas {
      grid-area: citas;
    }

    & .aside {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;

      grid-row-start: 3;
      grid-row-end: 4;

      margin: 30px auto;

      // width: 250px;
      // height: 99%;

      color: #000;

      // border: 2px solid #baba;
      // border-radius: 20px;
      // box-shadow: -3px 3px 10px rgba(155, 153, 155, 0.667);

      & aside {
        width: calc(100% - 30px);
      }
    }

    & .instagram {
      grid-column-start: 1;
      grid-column-end: 2;

      grid-row-start: 4;
      grid-row-end: 5;

      margin: 0 auto;

      & aside {
        width: calc(100% - 30px);
      }
    }

    & .horario {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    & .notices {
      @include border__dark;

      // grid-area: notices;
      grid-column-start: 2;
      grid-column-end: 3;

      grid-row-start: 2;
      grid-row-end: 5;

      display: flex;
      align-items: center;
      // justify-content: center;
      flex-direction: column;

      height: 100%;

      & h3 {
        color: #000;
      }

      & a {
        @include bottoms;
      }
    }
  }
}
