@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* styles to presentation of start page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  border: 2px solid #000;  

  & .aside {
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(3, 1fr);

    // width: 300px;
    // height: auto;

    // flex-direction: row;
    
    width: 100%;
    height: auto;
    max-width: 300px;
    
    & aside {
      display: inline-block;
      overflow-x: auto;
    }
  }
}

/* .slideshow-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slideshow {
  display: flex;
  transition: transform 1s ease;

  padding: 0;
  margin: 0;
}

.slideshow img {
  width: 100%;
  height: 300px;
} */

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  padding: 10px;
  color: white;

  cursor: pointer;

  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: aliceblue;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* ajustando width */

.container .presentation {
  position: relative;

  display: flex;
  justify-content: center;

  width: 80%;
  margin-top: 25px;
}

.container .presentation .procedimientos {
  padding-left: 90px;

  .publicaciones {
    display: flex;
    flex-direction: column;

    width: 300px;
  }
}

.container .tratamientos {
  @include border__light;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 -20px 0;
  padding: 15px 0;
  /* padding: 0; */
  width: 700px;
  height: auto;
  background-color: #000;
  color: #fff;
}

.container .tratamientos .area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  margin-bottom: 20px;
  width: 70%;

  border: 1px solid #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #fff;
}

.container .tratamientos .area h3 {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 1.25rem;
}

.container .tratamientos .area ul li {
  list-style: circle;
  font-size: 1.15rem;
}

.container .tratamientos .area button {
  margin-top: 20px;
  width: 50%;
  height: 40px;

  font-size: 1.15rem;
  border: 1px solid #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #fff;
}

.container .horario {
  @include center;
  
}

.container .links{
  // display: flex;
  // justify-content: center;
  // align-items: center;

  // margin-top: 50px;

  // border: 1px solid #000;

  // width: 340px;
  // height: 300px;

  // border-radius: 20px;
  @include center;
}

// @media screen and (max-width: 768px) {
//   .container{
//    display: flex;

//    & .aside {
//     display: flex;
//     flex-direction: row;

//     width: 300px;
//    }
//   }
// }

@media screen and (min-width: 1024px) {
    
  .container{
    // filter: blur(5px);
  position: relative;
  display: grid;
  // align-items: center;
  // justify-self: center;
  justify-items: center;
  align-items: center;

  grid-template-columns: 70% 15%;
  grid-template-rows: 1fr;

  grid-template-areas:
  'presentation presentation'
  'contenido aside'
  'contenido aside'
  'contenido aside';
    gap: 0 5px;
  
    margin: 0 100px;
  
    // width: 900px;
    // height: 100vh;
  
    & .presentation {
      
      grid-column-start: 1;
      grid-column-end: 3;
      grid-area: presentation;
  
      align-items: center;
      justify-content: center;
  
      margin-bottom: 30px;
    }
  
    & .aside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      grid-area: aside;
  
      width: 200px;
      height: auto;

      border: 2px solid #000;
      @include border__dark
    }
  
    & .tratamientos {
      // position: absolute;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
  
      margin: 0;
      padding: 0;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      width: calc(100% - 120px);
  
      background-color: #fff;
  
      & .area {
        display: flex;
        justify-items: center;
        align-items: center;
        width: 100vw;
        background-color: #000;
        // text-align: center;
      }
    }
  
    & .horario {
      grid-column-start: 1;
      grid-column-end: 2;
      
      border: 2px solid #000;
  
      margin: 0;
      & img {
      }
    }
    
    & .links {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    }
  
}