@charset "UTF-8";
@import "variables";

.main {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    padding-top: .238rem;
    margin-bottom: 250px;

    height: 100vh;
    width: 100vw;

    .enDesarrollo {
        position: fixed;

        
        text-align: center;
        
        width: 100%;
        
        
        
        bottom: 0;
        backdrop-filter: blur(20px);
        
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            padding: 10px 0 0;
            margin: 0;
            text-align: center;
            color: #e9e305;
            font-size: 32px;
        }
    }
    
    .description {
        display: flex;
        flex-direction: column;  
        align-items: center;      

        .procedimientos {
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 100vw;
            height: 14.75rem;

            margin-bottom: 15px;            
            
            background-color: rgb(102, 165, 218);

            h3 {
                color: $color-soft;
            }
        }

        > section:nth-child(2),
        section:nth-child(3) {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-bottom: 10px;
            /* padding-left: 20px; */
            height: 14.75rem;

            /* width: 300px; */
            

            min-width: 300px;
            max-width: 400px;

            border-radius: 20px;
            background-color: $color-primary;

            > h3 {
                color: $color-soft;
            }
        }

    }
}