@charset "UTF-8";

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    

    height: 100vh;
    width: 100vw;

    

    .description {
        display: flex;
        flex-direction: column;
    }
}