@import "variables";
@import "mixins";
@import url("https://css.gg/menu-grid-o.css");

.container {
  display: flex;
  justify-content: center;
  align-items: center;  

  /* @include flexCenter; */

  
  
  
  .enlaces {
    position: fixed;
    
    display: flex;
    justify-content: space-between;
    align-items: center;    

    

    margin: 0;
    padding: 0 25px;  
    
    top: 2px;

    height: 60px;
    width: 80%;
    
    border: 1px solid $color-primary;
    border-radius: 30px;

    background-color: rgba($color-soft, 0.93);
    color: $color-primary;
    box-shadow: 0px 5px 15px rgba($color-primary, 0.5);

    .enlaces__logo {
      width: 50px;
      height: 50px;

      border-radius: 50%;
    }

    .enlaces__menu {
      display: flex;
      display: none;

      
    }
  }


  /* menu  */
  .gg-menu-grid-o {
    box-sizing: border-box;    
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;

    /* display: none; */
  }

  .gg-menu-grid-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 4px;
    height: 4px;
    background: currentColor;
    box-shadow: 0 6px 0, 6px 6px 0, 12px 6px 0, 6px 12px 0, 12px 12px 0, 6px 0 0,
      12px 0 0, 0 12px 0;
    border-radius: 22px;
  }
}

@media screen and (min-width: 769px) {
  .container {
    .enlaces {
      .gg-menu-grid-o {
        display: none;
      }
    }

    .enlaces__menu {
      display: flex;
    }
  }
}
