@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: #000);
  /* background-color: rgba(224, 92, 92, 0.4); */

  font-family: 'Courier New', Courier, monospace;
}
